body {
    text-align: center;

}

img {
    width: 140px;
    height: auto;
    float: left;
}

header {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    border-bottom: 3px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-style: solid;
}


ul li { 
    text-decoration: none;
    display: inline;
    padding-left: 20px;
    font-size: 20px;
    
}

 ul{
    float: right;
    padding-right: 100px;
}

.info {
 max-width: 960px;
 margin-top: 15px;
margin-left: 360px;
margin-bottom: 25px;
height: 250px;

}

h2 {
  max-width: 960px;
  text-align: left;
  padding-bottom: 15px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px;
  border-style: solid;
  
  
}

h1 {
    float: left;
    padding: 0;
    margin: 0;
    padding-left: 100px;
}

footer {
    text-align: right;
    height: 40px;
    padding-right: 30px;
    border: 2px;
    border-style: solid;
}
