._2lhm{background-color:transparent;margin:6px 0}
.sp_uVMll3Gktza_1_5x{background-image:url(/rsrc.php/v3/yG/r/9RJLzgqbHsU.png);background-size:22px 44px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_uVMll3Gktza_1_5x.sx_2b286b{background-position:0 0}.sp_uVMll3Gktza_1_5x.sx_01cb2a{background-position:0 -22px}

#bootloader_FllqY{height:42px;}.bootloader_FllqY{display:block!important;}